<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputEmail">Book Name</label>

        <div class="controls">
            <input type="text" id="inputEmail" ng-model="book.bookName" placeholder="Book Name" required min="2">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Author Name</label>

        <div class="controls">


            <input class="span3" type="text" id="inputSpeed" ng-model="book.authorName" placeholder="Author Name" required min="1">
        </div>
    </div>
    <div class="control-group">
        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-disabled="!book.bookName || !book.authorName" ng-hide="editMode" ng-click="addNewBook(book)">Save or Update</button>
            <button type="button" class="btn" ng-click="resetBookForm()">Reset</button>
        </div>
    </div>
</form>
<hr />
<h3>Book List</h3>
<div class="alert alert-info" ng-show="books.length == 0">
    No book found
</div>
<table class="table table-bordered table-striped" ng-show="books.length > 0">
    <thead>
        <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Author</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books | orderBy:predicate">
            <td>{{book.bookName}}</td>
            <td>{{book.authorName}}</td>
            <td style="width:100px;text-align: center;">
                <button class="btn btn-mini btn-danger" ng-click="removeBook(book)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
